.side-bar
  .top
    = link_to "/categories/1" do
      %p.trim-image-to-circle01
    = link_to "/categories/2" do
      %p.trim-image-to-circle02
  .middle
    = link_to "/categories/3" do
      %p.trim-image-to-circle03
    = link_to "/categories/4" do
      %p.trim-image-to-circle04
  .bottom
    = link_to "/categories/5" do
      %p.trim-image-to-circle05
    = link_to "/categories/6" do
      %p.trim-image-to-circle06